<div class="w-full h-full min-h-screen bg-[#353734]">
  <div class="flex flex-col min-md:mx-40 bg-[#DDBD9C] rounded-2xl shadow-xl p-10">
    <div class="flex justify-center mt-6 mb-10">
      <p class="text-5xl max-lg:text-3xl font-bold text-[#514F4D] drop-shadow-md">
        MY BRAG DOCUMENT
      </p>
    </div>
    <div class="flex">
      <div class="flex max-md:flex-col justify-center mb-10 w-full">
        <div class="max-md:mb-4 max-md:flex max-md:justify-center">
          <%= image_tag "profile_img.jpeg", class: "w-40 h-40 object-cover rounded-full border-4 border-[#514F4D] shadow-lg"%>
        </div>
        <div class="min-md:ml-20 max-md:ml-6 font-semibold text-[#514F4D] space-y-2">
          <p class="max-md:flex max-md:justify-center max-md:mb-4 max-md:text-lg">Nawamin Wongpakham</p>
          <p>Age: 22</p>
          <p class="max-md:hidden">Brith Date: 10 September 2002</p>
          <p class="min-md:hidden">Brith Date: 10/09/2002</p>
          <p>Email: nawamin3438@gmail.com</p>
          <p>Job: Software Developer</p>
        </div>
      </div>
    </div>
    <div class="flex flex-col justify-center min-md:mx-20 mx-6 text-[#514F4D]">
      <div class="flex mb-1">
        <span class="bg-[#C76E00] text-[#C76E00] w-2 mr-1">|</span>
        <p class="text-lg">About Me</p>
      </div>
      <p class="ml-8">
        Hello My name's Nawamin Wongpakham, you can call me Dew. I’m really glad to introduce myself to you.
        I'm a recent computer engineering graduate from Khon Kean University. I’m so excited to be first jobber.
        To be honest, I feel I’m not ready to work yet since I lack real work experience. However, I enjoy learning new things, and that always makes me happy.
      </p>
      <div class="flex mb-1 mt-4">
        <span class="bg-[#C76E00] text-[#C76E00] w-2 mr-1">|</span>
        <p class="text-lg">Life Goal</p>
      </div>
      <ul class="list-disc ml-12">
        <li>To be Full Stack Developer</li>
        <li>Have good health</li>
        <li>Travel around the world</li>
      </ul>
      <div class="flex mb-1 mt-4">
        <span class="bg-[#C76E00] text-[#C76E00] w-2 mr-1">|</span>
        <p class="text-lg">Goal in 2025</p>
      </div>
      <ul class="list-disc ml-12">
        <li>Gain more work experience</li>
        <li>Speak English more clearly</li>
        <li>Learning more about software development, especially DevOps</li>
      </ul>
    </div>
  </div>
</div>
